<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main style="margin-top: 150px; margin-bottom: 50px;" class="container">
		<div class="image-container">
			<img th:src="@{|/assets/images/dv5.jpg|}" style="width: 1343px; height: 250px;" alt="">
			<div class="text-overlay">
				<h1 class="display-4">Gói Chụp Ảnh Cưới Đẹp</h1>
				<p class="lead">Chúng tôi chụp ảnh cưới chuyên nghiệp và đẹp nhất cho ngày trọng đại của bạn.</p>
			</div>
		</div>

		<!-- Features Section -->
		<div class="container features py-5">
			<div class="row">
				<div class="col-lg-4">
					<h3>Thông Tin Chi Tiết</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 mt-2">
					<h5>Giá Gói</h5>
				</div>
				<div class="col-lg-4 mt-2">
					<h5>800.000vnđ - 1.800.000 vnđ</h5>
				</div>
				<hr>
			</div>
			<div class="row">
				<div class="col-lg-4 mt-2">
					<h5>Trang điểm & Tóc tại nhà cô dâu</h5>
				</div>
				<div class="col-lg-4 mt-2">
					<ul>
						<li>Make up tại cửa hàng: 800.000 vnđ/ lần</li>
					</ul>
					<ul>
						<li>Make up nội thành 10 km: 1.000.000 vnđ/ lần</li>
					</ul>
					<ul>
						<li>Make up từ 20 – 30 km: 1.400.00 vnđ/ lần</li>
					</ul>
					<ul>
						<li>Make up từ 31 – 40 km: 1.600.000 vnđ/ lần</li>
					</ul>
					<ul>
						<li>Make up từ 40 – 60 km: 1.800.000 vnđ/ lần</li>
					</ul>
				</div>
				<hr>
			</div>
			<div class="row">
				<div class="col-lg-4 mt-2">
					<h5>Lưu ý</h5>
				</div>
				<div class="col-lg-5 mt-2">
					<p>Sử dụng dịch vụ vào thứ 7 & CN tính thêm phí là 300.000 vnđ</p>
				</div>
				<hr>
			</div>
			<div class="row">
				<div class="col-lg-4 mt-2">
					<h5>Liên hệ</h5>
				</div>
				<div class="col-lg-4 mt-2">
					<p>0123456789</p>
				</div>
				<hr>
			</div>
			<div class="row">
				<div class="col-lg-4 mt-2">
					<h5>Video Tham Khảo</h5>
				</div>
				<div>
					<iframe width="100%" height="550"
						src="https://www.youtube.com/embed/g4koU9MFXgM?si=Ff8EWQYfFJzCaTaF" title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen></iframe>
				</div>
			</div>
		</div>

	</main>
</body>

</html>