<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main style="margin-top: 150px; margin-bottom: 50px;" class="container">
		<div class="image-container1 p-4 p-md-5 mb-4 rounded text-body-emphasis">
			<img th:src="@{|/assets/images/slide.png|}" style="width: 1000px; height: 400px; border-radius: 5px;">
			<div class="text-overlay1">
				<div class="col-lg-6 px-0">
					<h1 class="display-4 fst-italic">Những Địa Điểm Chụp Hình Cưới Hot 2023</h1>
					<p class="lead my-3">Hiện tại các địa điểm chụp ảnh cưới đã là một vấn đề với các cặp cô dâu chú rễ
						dưới đây là
						các địa điểm có một không hai.</p>
					<p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Đọc tiếp...</a></p>
				</div>
			</div>
		</div>

		<div class="row mb-2">
			<div class="col-md-6">
				<div
					class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<h3 class="mb-0">Lễ Cưới Đặc Biệt Tại Chùa</h3>
						<div class="mb-1 text-body-secondary">03/10/2023</div>
						<p class="card-text mb-auto">Lễ cưới tại chùa là một lựa chọn của nhiều cặp đôi muốn có một buổi
							lễ trang
							nghiêm, ý nghĩa và đậm chất văn hóa. Để tổ chức một lễ cưới tại chùa, bạn cần lưu ý những
							điều sau.</p>
						<a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
							Đọc tiếp
						</a>
					</div>
					<div class="col-auto d-none d-lg-block">
						<img class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
							role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
							focusable="false" th:src="@{|/assets/images/bv02.jpg|}">
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div
					class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<h3 class="mb-0">Buổi Vu Quy Hot Hiện Tại Bây Giờ</h3>
						<div class="mb-1 text-body-secondary">03/10/2023</div>
						<p class="mb-auto">Bạn đang tìm kiếm một buổi vu quy hot, hấp dẫn và đáng nhớ? Bạn muốn biết
							những xu hướng
							mới nhất trong lĩnh vực này? Bạn muốn có những kinh nghiệm thú vị và bổ ích khi tham gia
							buổi vu quy?</p>
						<a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
							Đọc tiếp
							<svg class="bi">
								<use xlink:href="#chevron-right" />
							</svg>
						</a>
					</div>
					<div class="col-auto d-none d-lg-block">
						<img class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
							role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
							focusable="false" th:src="@{|/assets/images/bv01.jpg|}">
					</div>
				</div>
			</div>
		</div>

		<div class="row g-5">
			<div class="col-md-8">
				<h3 class="pb-4 mb-4 fst-italic border-bottom">
					Những Bài Viết Gần Đây
				</h3>

				<div
					class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col-auto d-none d-lg-block">
						<img class="bd-placeholder-img" width="200" height="100%" xmlns="http://www.w3.org/2000/svg"
							role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
							focusable="false"
							th:src="@{|/assets/images/bv03.jpg|}">
					</div>
					<div class="col p-4 d-flex flex-column position-static">
						<h3 class="mb-0">Xu Hướng Ảnh Cưới 2023: Những Ý Tưởng Sáng Tạo và Độc Đáo</h3>
						<div class="mb-1 text-body-secondary">03/10/2023</div>
						<p class="card-text mb-auto">Xu hướng ảnh cưới 2023 đang trở thành chủ đề quan tâm của nhiều cặp
							đôi trẻ
							muốn lưu giữ khoảnh khắc đáng nhớ trong ngày trọng đại của mình. Với sự phát triển không
							ngừng của công
							nghệ và sự sáng tạo của các nhiếp ảnh gia, xu hướng ảnh cưới đã trở nên đa dạng và phong phú
							hơn bao giờ
							hết. Bài viết này sẽ giới thiệu cho bạn những ý tưởng mới mẻ và độc đáo để tạo nên những bức
							ảnh cưới đẹp
							và ấn tượng trong năm 2023.</p>
						<a th:href="@{/baiviet/ctbaiviet}" class="icon-link gap-1 icon-link-hover stretched-link">
							Đọc tiếp
						</a>
					</div>
				</div>

				<div
					class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col-auto d-none d-lg-block">
						<img class="bd-placeholder-img" width="200" height="100%" xmlns="http://www.w3.org/2000/svg"
							role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
							focusable="false" th:src="@{|/assets/images/bv04.jpg|}">
					</div>
					<div class="col p-4 d-flex flex-column position-static">
						<h3 class="mb-0">Những địa điểm chụp ảnh cưới tuyệt đẹp ở Đà Lạt</h3>
						<div class="mb-1 text-body-secondary">03/10/2023</div>
						<p class="card-text mb-auto">Địa điểm chụp ảnh cưới là một trong những yếu tố quan trọng giúp
							cho bộ ảnh
							cưới của bạn trở nên hoàn hảo. Và Đà Lạt văn hóa và du lịch của Việt Nam - không thiếu những
							địa điểm chụp
							ảnh cưới đẹp để bạn có thể lựa chọn. Bài viết này sẽ giới thiệu đến bạn những địa điểm chụp
							ảnh cưới đẹp ở
							Đà Lạt và những lời khuyên để bạn có thể khai thác tối đa các địa điểm này.</p>
						<a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
							Đọc tiếp
						</a>
					</div>
				</div>

			</div>

			<div class="col-md-4">
				<div class="position-sticky" style="top: 2rem;">
					<div class="p-4 mb-3"></div>
					<div>
						<h4 class="fst-italic">Bài viết mới nhất</h4>
						<ul class="list-unstyled">
							<li>
								<a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
									href="#">
									<img class="bd-placeholder-img" width="100" height="96"
										xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
										preserveAspectRatio="xMidYMid slice" focusable="false"
										th:src="@{|/assets/images/bv03.jpg|}">
									<div class="col-lg-8">
										<h6 class="mb-0">Xu Hướng Ảnh Cưới 2023: Những Ý Tưởng Sáng Tạo và Độc Đáo</h6>
										<small class="text-body-secondary">03/10/2023</small>
									</div>
								</a>
							</li>
							<li>
								<a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
									href="#">
									<img class="bd-placeholder-img" width="100" height="96"
										xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
										preserveAspectRatio="xMidYMid slice" focusable="false" th:src="@{|/assets/images/bv04.jpg|}">
									<div class="col-lg-8">
										<h6 class="mb-0">Những địa điểm chụp ảnh cưới tuyệt đẹp ở Đà Lạt</h6>
										<small class="text-body-secondary">03/10/2023</small>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>