<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>

	<main style="margin-top: 150px; margin-bottom: 50px;" class="container">
	<div th:object="${sp}">
	<div class="container mt-5 p-5">
				<div class="row">
					<div class="col-8">
 		<div style="float: left; width: 40% ;">
            <img th:src="@{|/assets/images/37305818_493973964395212_7682163292298543104_n.jpg|}" class="ctsp" alt="" width="300px" height="500px">
        </div>
        <div style="float: right; width: 59%; border-radius: 20px;  height: 650px; padding-top: 100px; ">
            <p style="padding-left: 70px;padding-right: 70px;">
                <h3>[[*{tensp}]]</h3>
               <b>Mã :</b> [[*{masp}]]
                <br>
                <br><i class="bi bi-currency-dollar"></i> <b>giá:</b> <b style="color: red; font-size: x-large;">[[*{gia}]] </b><u>đ</u><br>
                <br><i class="bi bi-pass-fill"></i> [[*{mota}]] 
                <br><i class="bi bi-box-fill"></i> [[*{noidung}]]
            </p>
            <div style="padding-left: 80px; padding-top: 100px;">
                <button class="btn btn-outline-secondary" style="border-radius: 25px;background-color: #d9d9d9"><i class="bi bi-cart4"></i> Thêm vào giỏ hàng</button>
                 <button class="btn btn-outline-secondary" style="border-radius: 25px;background-color: #d9d9d9"><i class="bi bi-telephone-fill"></i> Liên hệ</button>
            </div>
        </div>
       	</div>
					<div class="col-4">
						<div class="">
							<div class="border border-2 mt-2" style="border-radius: 10px; padding-bottom: 20px;">
								<br>
								<h3 class="text-center" style="color: red;"><i class="bi bi-fire"></i>Đang hot<i class="bi bi-fire"></i></h3>
								<div class="">
									
										<div class="row my-2" style="padding-left: 20px;" th:each="entry: ${ct}" th:object="${entry}">
											<div class="col-1 m-auto" style="text-align: right;">
												<h6 style="font-size: 25px; "><a><img alt="" th:src="@{|/assets/images/37305818_493973964395212_7682163292298543104_n.jpg|}" width="60px" height="100px"></a></i>
											</div>
											<div class="col-11" style="padding-left: 50px; padding-right: 20px;">
												<i class="h6">[[*{sanpham.tensp}]]</i>
												<p><i class="bi bi-cart-check-fill"></i> Lượt mua:[[*{soluong}]]</p>
											</div>
										</div>
								
										
										
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
        <h3 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;">Bình luận</h3>
        <div style="clear:both; background-color: #d9d9d9;border-radius: 10px;">
            <p style="padding: 10px;" th:each="entry: ${bl}" th:object="${entry}">
                <i class="bi bi-person-square"></i> [[*{khachhang.ten}]]
                <br>[[*{noidung}]]<br>
            </p>
        </div>
       
       		<form action="/lephuc/binhluan/{id}" th:method="post">	
        		<textarea th:path="noidung" th:valua="noidung" class="form-control" 
        		placeholder="noidung"></textarea>					
        		<button class="btn btn-primary fw-bold"  th:formaction="@{|/lephuc/binhluan/${id}|}" 
        		type="submit"
				data-bs-toggle="modal" data-bs-target="#exampleModal">Gửi</button>	
        	</form>
        
		<h3 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;">Cùng loại [[*{loai.ten}]] </h3>
		<div class="row row-cols-1 row-cols-md-4 g-2">
        
            <div class="col1" th:each="entry: ${cl}" th:object="${entry}">
            <a th:href="@{|/lephuc/ctlephuc/*{id}|}">
                <img th:src="@{|/assets/images/37305818_493973964395212_7682163292298543104_n.jpg|}" class="cover" alt="">
                </a>
                <div class=" h-100 p-2" id="hover_anh1">
                    <div class="card-body text-center m-auto w-100">
                        <a th:href="@{|/lephuc/ctlephuc/*{id}|}">
                            <img th:src="@{|/assets/images/37305818_493973964395212_7682163292298543104_n.jpg|}" class="card-img-top1">
                        </a>
                        <h6 class="card-title mt-3"> [[*{tensp}]]</h6>
                        <p class="card-text1">Giá:[[*{gia}]] Đ</p>
                    </div>
                </div>
            </div>
        </div>
         </div>
	</main>
</body>

</html>