<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main style="margin-top: 150px; margin-bottom: 50px;" class="container">
<div class="check">
<div style="float: left; ">
			<a th:href="@{|/lephuc/list?cid=0|}" style="color: none	">
            <button class="btn btn-outline-secondary" style="border-radius: 25px;">Tất cả
			</button></a>
			</div>
			<div th:each="c : ${l}"><a th:href="@{|/lephuc/list?cid=${c.id}|}" style="float: left; padding-left: 3px">
            <button  class="btn btn-outline-secondary" style="border-radius: 25px;">
            
				[[${c.ten}]]
			
			</button></a>
			</div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-2">
        
            <div class="col1" th:each="entry: ${sps}" th:object="${entry}" >
            <a th:href="@{|/lephuc/ctlephuc/*{id}|}">
                <img th:src="@{|/assets/images/37305818_493973964395212_7682163292298543104_n.jpg|}" class="cover" alt="">
                </a>
                <div class=" h-100 p-2" id="hover_anh1">
                    <div class="card-body text-center m-auto w-100">
                        <a th:href="@{|/lephuc/ctlephuc/*{id}|}">
                            <img th:src="@{|/assets/images/37305818_493973964395212_7682163292298543104_n.jpg|}" class="card-img-top1">
                        </a>
                        <h6 class="card-title mt-3"> [[*{tensp}]]</h6>
                        <p class="card-text1">Giá:[[*{gia}]] Đ</p>
                    </div>
                </div>
            </div>
        </div>
	</main>
</body>

</html>