<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main style="margin-top: 150px; margin-bottom: 50px;" class="container">
		<div class="card border border-2" th:fragment="shopping-cart">
			<div class="card-header text-center">
				<h3>GIỎ HÀNG</h3>
			</div>
			<div class="card-body">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th style="width: 16%;" >Mã</th>
							<th style="width: 16%;">Tên</th>
							<th style="width: 16%;">Giá</th>
							<th style="width: 16%;">Số lượng</th>
							<th style="width: 16%;">Tổng tiền</th>
							<th style="width: 16%;">Tùy chọn</th>
						</tr>
					</thead>
					<tbody>
						<!-- <tr ng-repeat="item in  cart.items">
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.price|number:2}}</td>
							<td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" min="1"
									style="width: 60px;"></td>
							<td>${{item.qty*item.price|number:2}}</td>
							<td>
								<button ng-click="cart.remove(item.id)" class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</td>
						</tr> -->
						<tr ng-repeat="item in  cart.items">
							<td>19991</td>
							<td>Váy cưới</td>
							<td>5.000.000 Đ</td>
							<td>1</td>
							<td>5.0000.000 Đ</td>
							<td>
								<button ng-click="cart.remove(item.id)" class="btn btn-danger">
									<i class="bi bi-trash"></i>
								</button>
							</td>
					</tbody>
				</table>
			</div>
			<div class="card-footer text-body-secondary ">
				<div class="d-flex">
					<div class="p-2"><button ng-click="cart.clear()" type="button" class="btn btn-outline-danger"><i
								class="bi bi-trash">Xóa tất cả</i></button></div>
					<div class="ms-auto p-2"><a th:href="@{/order/checkout}" type="button"
							class="btn btn-outline-warning "><i class="bi bi-box-arrow-right"></i>Thanh toán</a></div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>