<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<main  style="margin-top: 150px; margin-bottom: 50px;" class="container">
       <style>
*[id$=errors]{
		color:red;
		font-style: italic;
	}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
  </style>
		<div class="container mt-5">
		  <div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			  <div class="card border-0 shadow rounded-3 my-5">
				<div class="card-body p-4 p-sm-5">
				  <h5 class="card-title text-center mb-5 fw-light fs-5">ĐĂNG KÝ TÀI KHOẢN</h5>
				  <form action="/user/register" method="post" modelAttribute="item">
					<div class="form-floating mb-3">
					  <input path="hoten" type="text" class="form-control" id="hoten" placeholder="Họ và tên"/>
					  <label for="hoten">Họ và tên</label>
					</div>
					<div class="form-floating mb-3">
					  <input path="email" type="text" class="form-control" id="email" placeholder="Email"/>
					
					  <label for="email">Email</label>
					</div>
					<div class="form-floating mb-3">
					  <input path="dienthoai" type="text" class="form-control" id="email" placeholder="Email"/>
					 
					  <label for="email">Số điện thoại</label>
					</div>
					<div class="form-floating mb-3">
					  <input path="tendangnhap" type="text" class="form-control" id="tendn" placeholder="Tài khoản"/>
					 
					  <label for="tendn">Tài khoản</label>
					</div>
					<div class="form-floating mb-3">
					  <input path="matkhau"  type="password" class="form-control" id="pass" placeholder="Password"/>
					 
					  <label for="pass">Mật khẩu</label>
					</div>
					<hr class="my-4">
					<div class="d-grid">
					  <button formaction="/user/create" class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Đăng ký</button>
					</div>	
					<h5 class="text-center mt-3" style="color: red;" >${message}</h5>	
					<div class="text-center " ><a class="" href="/user/login" style="font-size: 15px;"> Quay lại đăng nhập</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
    
</main>

</html>