<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
	<body>
		<main>
			<div>
				<img th:src="@{|/assets/images/slide.png|}"
					style="width: 100%; height: 100%;">
				<h1 style="position: absolute; top: 380px; left: 70px; font-style: italic; 
				font-size: 50px; color: #aa0000;text-shadow: 1px 1px 5px rgb(255, 0, 0)">Welcome
					to
				</h1>
				<h1 style="position: absolute; top: 450px; left: 70px; 
				font-size: 70px; color: rgb(255, 255, 255);">TAMA Studio
				</h1>
			</div>
			<div class="mt-3">
				<h2 class="text-center" style="color: rgb(155, 0, 0);">Chào mừng bạn đến với
					TAMA Studio</h3>
				<p style="width: 80%; text-align: center; margin: auto;">Nếu bạn đang tìm
					kiếm một studio đồ cưới và makeup chuyên nghiệp để giúp
					bạn trở nên xinh đẹp nhất trong ngày cưới, thì không thể bỏ qua TAMA
					Studio. Tại đây, các chuyên gia makeup sẽ giúp bạn trở nên lung linh
					trong ngày đặc biệt của bạn. TAMA Studio luôn cập nhật các xu
					hướng trang điểm mới nhất để mang đến cái nhìn hoàn hảo nhất cho khách hàng
					của mình.
				</p>
				<div class="row container m-auto mt-3">
					<div class="col-4 mt-5 text-center"><img
							style="max-height: 400px; width: 90%;"
							th:src="@{|/assets/images/anh_left.png|}"></div>
					<div class="col-4 text-center"><img style="max-height: 500px; width: 95%;"
							th:src="@{|/assets/images/anh_center.png|}"></div>
					<div class="col-4 mt-5 text-center"><img
							style="max-height: 400px; width: 90%;"
							th:src="@{|/assets/images/anh_right.png|}"></div>
				</div>
				<div style="background-color: aliceblue;">
					<div class="row container m-auto mt-5">
						<h2 style="color: rgb(155, 0, 0); margin-top: 30px;"> MAKEUP</h3>
						<div class="col-6 text-center">
							<img th:src="@{|/assets/images/makeup.png|}"
								style="width: 100%; height: 90%;">
						</div>
						<div class="col-6">
							<p class="mx-5" style="height: 70%;">Nếu bạn đang tìm kiếm một địa chỉ uy
								tín và chuyên nghiệp
								tại TPHCM để
								làm đẹp cho mình, makeup tại TAMA chính là sự lựa chọn hoàn hảo cho bạn.
								Với đội ngũ chuyên viên trang điểm giàu kinh nghiệm cùng những sản phẩm
								chất lượng cao, Chou Makeup cam kết mang đến cho khách hàng những trải
								nghiệm làm đẹp tốt nhất.
								<br><button type="button" class="btn btn-outline-danger mt-5">Tìm hiểu
									thêm >></button>
							</p>
							<div class="d-flex align-items-end flex-column mb-3">
								<div class="mt-auto p-2">
									<p style="font-style: italic; 
									font-size: 50px; color: #aa0000;text-shadow: 1px 1px 5px rgb(255, 0, 0)">TAMA
										Studio</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="background-color: rgb(255, 255, 255);">
					<div class="row container m-auto mt-5">
						<h2 class="d-flex align-items-end flex-column"
							style="color: rgb(155, 0, 0); margin-top: 30px;"> BRIDAL</h3>

						<div class="col-6">
							<p class="mx-5" style="height: 70%;">Nếu bạn đang tìm kiếm một địa chỉ uy
								tín và chuyên nghiệp
								tại TPHCM để
								làm đẹp cho mình, makeup tại TAMA chính là sự lựa chọn hoàn hảo cho bạn.
								Với đội ngũ chuyên viên trang điểm giàu kinh nghiệm cùng những sản phẩm
								chất lượng cao, Chou Makeup cam kết mang đến cho khách hàng những trải
								nghiệm làm đẹp tốt nhất.
								<br><button type="button" class="btn btn-outline-danger mt-5">Tìm hiểu
									thêm >></button>
							</p>
							<div class="d-flex justify-content-start mb-3">
								<div class="mt-auto p-2">
									<p style="font-style: italic; 
										font-size: 50px; color: #aa0000;text-shadow: 1px 1px 5px rgb(255, 0, 0)">TAMA
										Studio</p>
								</div>
							</div>
						</div>
						<div class="col-6 text-center">
							<img th:src="@{|/assets/images/bridal.png|}"
								style="width: 100%; height: 90%;">
						</div>
					</div>
				</div>
				<div style="background-color: aliceblue;">
					<div class="row container m-auto mt-5">
						<h2 style="color: rgb(155, 0, 0); margin-top: 30px;"> PHOTO</h3>
						<div class="col-6 text-center">
							<img th:src="@{|/assets/images/bridal.png|}"
								style="width: 100%; height: 90%;">
						</div>
						<div class="col-6">
							<p class="mx-5" style="height: 70%;">Nếu bạn đang tìm kiếm một địa chỉ uy
								tín và chuyên nghiệp
								tại TPHCM để
								làm đẹp cho mình, makeup tại TAMA chính là sự lựa chọn hoàn hảo cho bạn.
								Với đội ngũ chuyên viên trang điểm giàu kinh nghiệm cùng những sản phẩm
								chất lượng cao, Chou Makeup cam kết mang đến cho khách hàng những trải
								nghiệm làm đẹp tốt nhất.
								<br><button type="button" class="btn btn-outline-danger mt-5">Tìm hiểu
									thêm >></button>
							</p>
							<div class="d-flex align-items-end flex-column mb-3">
								<div class="mt-auto p-2">
									<p style="font-style: italic; 
									font-size: 50px; color: #aa0000;text-shadow: 1px 1px 5px rgb(255, 0, 0)">TAMA
										Studio</p>
							</div>
						</div>
					</div>
				</div>
				<div style="background-color: rgb(255, 255, 255);">
					<div class="row container m-auto">
						<h2 style="color: rgb(155, 0, 0); margin-top: 30px; text-align: center; ">
							LỄ PHỤC</h3>
						<div class="row row-cols-2 row-cols-md-4 g-2 ">
							<div class="col" >
								<div class=" h-100 p-2" id="hover_anh">
									<div class="card-body text-center m-auto w-100">
										<a href="#">
											<img th:src="@{|/assets/images/lephuc.png|}" class="card-img-top"
												style="width: 90%; height: 80%; border-radius: 10px ;">
										</a>
										<h6 class="card-title mt-3" style="font-weight: bold;"> Lễ Phục Nữ</h6>
										<p class="card-text" style="color: red; font-weight: bold;">Giá:
											9.999.999 Đ</p>
									</div>
								</div>
							</div>

							<div class="col" >
								<div class=" h-100 p-2" id="hover_anh">
									<div class="card-body text-center m-auto w-100">
										<a href="#">
											<img th:src="@{|/assets/images/lephuc.png|}" class="card-img-top"
												style="width: 90%; height: 80%; border-radius: 10px ;">
										</a>
										<h6 class="card-title mt-3" style="font-weight: bold;"> Lễ Phục Nữ</h6>
										<p class="card-text" style="color: red; font-weight: bold;">Giá:
											9.999.999 Đ</p>
									</div>
								</div>
							</div>

							<div class="col" >
								<div class=" h-100 p-2" id="hover_anh">
									<div class="card-body text-center m-auto w-100">
										<a href="#">
											<img th:src="@{|/assets/images/lephuc.png|}" class="card-img-top"
												style="width: 90%; height: 80%; border-radius: 10px ;">
										</a>
										<h6 class="card-title mt-3" style="font-weight: bold;"> Lễ Phục Nữ</h6>
										<p class="card-text" style="color: red; font-weight: bold;">Giá:
											9.999.999 Đ</p>
									</div>
								</div>
							</div>

							<div class="col" >
								<div class=" h-100 p-2" id="hover_anh">
									<div class="card-body text-center m-auto w-100">
										<a href="#">
											<img th:src="@{|/assets/images/lephuc.png|}" class="card-img-top"
												style="width: 90%; height: 80%; border-radius: 10px ;">
										</a>
										<h6 class="card-title mt-3" style="font-weight: bold;"> Lễ Phục Nữ</h6>
										<p class="card-text" style="color: red; font-weight: bold;">Giá:
											9.999.999 Đ</p>
									</div>
								</div>
							</div>

							<div class="col" >
								<div class=" h-100 p-2" id="hover_anh">
									<div class="card-body text-center m-auto w-100">
										<a href="#">
											<img th:src="@{|/assets/images/lephuc.png|}" class="card-img-top"
												style="width: 90%; height: 80%; border-radius: 10px ;">
										</a>
										<h6 class="card-title mt-3" style="font-weight: bold;"> Lễ Phục Nữ</h6>
										<p class="card-text" style="color: red; font-weight: bold;">Giá:
											9.999.999 Đ</p>
									</div>
								</div>
							</div>

							<div class="col" >
								<div class=" h-100 p-2" id="hover_anh">
									<div class="card-body text-center m-auto w-100">
										<a href="#">
											<img th:src="@{|/assets/images/lephuc.png|}" class="card-img-top"
												style="width: 90%; height: 80%; border-radius: 10px ;">
										</a>
										<h6 class="card-title mt-3" style="font-weight: bold;"> Lễ Phục Nữ</h6>
										<p class="card-text" style="color: red; font-weight: bold;">Giá:
											9.999.999 Đ</p>
									</div>
								</div>
							</div>

							<div class="col" >
								<div class=" h-100 p-2" id="hover_anh">
									<div class="card-body text-center m-auto w-100">
										<a href="#">
											<img th:src="@{|/assets/images/lephuc.png|}" class="card-img-top"
												style="width: 90%; height: 80%; border-radius: 10px ;">
										</a>
										<h6 class="card-title mt-3" style="font-weight: bold;"> Lễ Phục Nữ</h6>
										<p class="card-text" style="color: red; font-weight: bold;">Giá:
											9.999.999 Đ</p>
									</div>
								</div>
							</div>

							<div class="col" >
								<div class=" h-100 p-2" id="hover_anh">
									<div class="card-body text-center m-auto w-100">
										<a href="#">
											<img th:src="@{|/assets/images/lephuc.png|}" class="card-img-top"
												style="width: 90%; height: 80%; border-radius: 10px ;">
										</a>
										<h6 class="card-title mt-3" style="font-weight: bold;"> Lễ Phục Nữ</h6>
										<p class="card-text" style="color: red; font-weight: bold;">Giá:
											9.999.999 Đ</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="background-color: aliceblue;">
					<div class="row container m-auto mt-5">
						<h2 style="color: rgb(155, 0, 0); margin-top: 30px; text-align: center; ">
							BÀI VIẾT</h3>
						<div class="row row-cols-2 row-cols-md-2 g-2">
							<div class="col">
								<div class="card mb-3" style="max-width: 100%; max-height: 100%;">
									<div class="row g-0">
										<div class="col-md-4">
											<img class=" m-2" th:src="@{|/assets/images/anh_center.png|}"
												style="width: 100%; max-height: 160px;">
										</div>
										<div class="col-md-8">
											<div class="card-body">
												<h5>Xu hướng chụp ảnh 2023</h5>
												<p>
													Xu hướng ảnh cưới 2023 đang trở thành chủ đề quan tâm của nhiều cặp
													đôi trẻ muốn lưu giữ khoảnh khắc đáng nhớ trong ngày trọng đại của
													mình.
												</p>
											</div>
										</div>
									</div>
								</div>				
							</div>
							<div class="col">
								<div class="card mb-3" style="max-width: 100%; max-height: 100%;">
									<div class="row g-0">
										<div class="col-md-4">
											<img class=" m-2" th:src="@{|/assets/images/anh_center.png|}"
												style="width: 100%; max-height: 160px;">
										</div>
										<div class="col-md-8">
											<div class="card-body">
												<h5>Xu hướng chụp ảnh 2023</h5>
												<p>
													Xu hướng ảnh cưới 2023 đang trở thành chủ đề quan tâm của nhiều cặp
													đôi trẻ muốn lưu giữ khoảnh khắc đáng nhớ trong ngày trọng đại của
													mình.
												</p>
											</div>
										</div>
									</div>
								</div>				
							</div>
							<div class="col">
								<div class="card mb-3" style="max-width: 100%; max-height: 100%;">
									<div class="row g-0">
										<div class="col-md-4">
											<img class=" m-2" th:src="@{|/assets/images/anh_center.png|}"
												style="width: 100%; max-height: 160px;">
										</div>
										<div class="col-md-8">
											<div class="card-body">
												<h5>Xu hướng chụp ảnh 2023</h5>
												<p>
													Xu hướng ảnh cưới 2023 đang trở thành chủ đề quan tâm của nhiều cặp
													đôi trẻ muốn lưu giữ khoảnh khắc đáng nhớ trong ngày trọng đại của
													mình.
												</p>
											</div>
										</div>
									</div>
								</div>				
							</div>
							<div class="col">
								<div class="card mb-3" style="max-width: 100%; max-height: 100%;">
									<div class="row g-0">
										<div class="col-md-4">
											<img class=" m-2" th:src="@{|/assets/images/anh_center.png|}"
												style="width: 100%; max-height: 160px;">
										</div>
										<div class="col-md-8">
											<div class="card-body">
												<h5>Xu hướng chụp ảnh 2023</h5>
												<p>
													Xu hướng ảnh cưới 2023 đang trở thành chủ đề quan tâm của nhiều cặp
													đôi trẻ muốn lưu giữ khoảnh khắc đáng nhớ trong ngày trọng đại của
													mình.
												</p>
											</div>
										</div>
									</div>
								</div>				
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>

</html>

<style>
	#hover_anh:hover{
		box-shadow: 0 0 5px aliceblue, 0 0 7px rgb(192, 192, 192);
  		transform: translateY(-2px);
		border: 1px ;
  		border-radius: 10px;
	}
</style>